#panel{ padding: 8px; }
#panel .panel-button{
    margin-top: 8px;
    margin-bottom: 8px;
}
#panelLeft{ margin-left: 8px; }
#panelRight{ margin-right: 8px; }
#panel:floating{
    border-radius: 99px;
    box-shadow: inset 0 0 0 0 transparent;
    border: 8px solid transparent;
    padding: 0;
}